<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Marine Design Engineering | Control Panel</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='css/styles.css') }}"
        />
    </head>

    <body>
        <header>
            <nav>
                <h1>Marine Design Engineering | Control Panel</h1>
            </nav>
        </header>
        <main>
            <div class="main-container">
                <div class="video-container">
                    <img src="/video_feed" width="640" height="480" />
                </div>
                <div class="controls">
                    <input
                        id="brightnessSlider"
                        class="slider"
                        type="range"
                        min="-1"
                        max="1"
                        step="0.01"
                        value="0"
                    />
                    <input
                        id="gainSlider"
                        class="slider"
                        type="range"
                        min="-1"
                        max="1"
                        step="0.01"
                        value="0"
                    />
                    <input
                        class="button"
                        type="button"
                        value="Reload Camera"
                        onclick="location.reload()"
                    />
                    <input
                        class="button"
                        type="button"
                        value="Restart Pi"
                        onclick="power('restart')"
                    />
                    <input
                        class="button"
                        type="button"
                        value="Shutdown Pi"
                        onclick="power('shutdown')"
                    />
                    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
                </div>
            </div>
        </main>
    </body>
</html>
