<!doctype html>
<html lang="en" class="mdui-theme-dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>SIBS V4.0</title>

        <!-- PWA Manifest -->
        <link
            rel="manifest"
            href="{{ url_for('static', filename='manifest.json') }}"
        />

        <!-- iOS PWA Support -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta
            name="apple-mobile-web-app-status-bar-style"
            content="black-translucent"
        />
        <meta name="apple-mobile-web-app-title" content="SIBS V4.0" />
        <link
            rel="apple-touch-icon"
            href="{{ url_for('static', filename='img/favicon.ico') }}"
        />

        <!-- Theme Color -->
        <meta name="theme-color" content="#5aaedb" />

        <script src="{{ url_for('static',filename='lib/socket.io.min.js') }}"></script>
        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='lib/mdui.css') }}"
        />
        <script src="{{ url_for('static',filename='lib/mdui.global.js') }}"></script>
        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='css/styles.css') }}"
        />

        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='img/favicon.ico') }}"
        />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
    </head>

    <body>
        <script>
            mdui.setColorScheme("#5aaedb");
        </script>
        <div class="vertical">
            <mdui-card
                variant="filled"
                class="video-feed-outer"
                id="video-container-id"
            >
                <img id="video_feed" src="/video_feed" />
            </mdui-card>

            <mdui-card variant="filled" class="control-panel">
                <div class="vertical button-card">
                    <mdui-button
                        class="button"
                        title="Reloads the webpage"
                        onclick="reload()"
                        >Reload Page</mdui-button
                    >
                    <mdui-button
                        class="button"
                        title="Restarts the SIBS software"
                        onclick="restartWebserver()"
                        >Restart SIBS</mdui-button
                    >
                    <mdui-button
                        class="button"
                        title="Restarts the host device"
                        onclick="power('restart')"
                        >Restart Host</mdui-button
                    >
                    <!--<mdui-button
                        class="button"
                        title="Powers down the host device"
                        onclick="power('shutdown')"
                        >Shutdown Host</mdui-button
                    >-->
                    <p>
                        Nigel Keely ctal.<br />
                        Zentec Computing Solutions Ltd.<br />
                        Marine Design Engineering Ltd.
                    </p>
                </div>

                <mdui-card variant="elevated" class="slider-card">
                    <label for="brightnessSlider">Brightness</label>
                    <mdui-slider
                        id="brightnessSlider"
                        value="0"
                        min="-1"
                        max="1"
                        step="0.1"
                    ></mdui-slider>

                    <label for="contrastSlider">Contrast</label>
                    <mdui-slider
                        id="contrastSlider"
                        value="1"
                        min="0"
                        max="8"
                        step="0.1"
                    ></mdui-slider>

                    <label for="saturationSlider">Saturation</label>
                    <mdui-slider
                        id="saturationSlider"
                        value="1"
                        min="0"
                        max="4"
                        step="0.1"
                    ></mdui-slider>

                    <label for="sharpnessSlider">Sharpness</label>
                    <mdui-slider
                        id="sharpnessSlider"
                        value="1"
                        min="0"
                        max="16"
                    ></mdui-slider>
                </mdui-card>
                <mdui-card variant="elevated" class="sample-controls">
                    <div class="horizontal">
                        <mdui-button-icon
                            variant="tonal"
                            icon="lock"
                            id="sample-button1-enable"
                            class="sample-button-enable"
                            onclick="toggleSampleButton(1)"
                        >
                        </mdui-button-icon>
                        <mdui-button
                            id="sample-button1"
                            class="sample-button"
                            onclick="confirmSampleButton(1)"
                            disabled
                            >1</mdui-button
                        >
                    </div>
                    <div class="horizontal">
                        <mdui-button-icon
                            variant="tonal"
                            icon="lock"
                            id="sample-button2-enable"
                            class="sample-button-enable"
                            onclick="toggleSampleButton(2)"
                        >
                        </mdui-button-icon>
                        <mdui-button
                            id="sample-button2"
                            class="sample-button"
                            onclick="confirmSampleButton(2)"
                            disabled
                            >2</mdui-button
                        >
                    </div>
                    <div class="horizontal">
                        <mdui-button-icon
                            variant="tonal"
                            icon="lock"
                            id="sample-button3-enable"
                            class="sample-button-enable"
                            onclick="toggleSampleButton(3)"
                        >
                        </mdui-button-icon>
                        <mdui-button
                            id="sample-button3"
                            class="sample-button"
                            onclick="confirmSampleButton(3)"
                            disabled
                            >3</mdui-button
                        >
                    </div>
                </mdui-card>
            </mdui-card>
        </div>
        <script src="{{ url_for('static',filename='js/index.js') }}"></script>

        <!-- Register Service Worker -->
        <script>
            if ("serviceWorker" in navigator) {
                window.addEventListener("load", function () {
                    navigator.serviceWorker
                        .register(
                            "{{ url_for('static', filename='js/service-worker.js') }}",
                        )
                        .then(function (registration) {
                            console.log(
                                "ServiceWorker registration successful",
                            );
                        })
                        .catch(function (err) {
                            console.log(
                                "ServiceWorker registration failed: ",
                                err,
                            );
                        });
                });
            }
        </script>
    </body>
</html>
