:root {
    --light-shades: #f5f4f5;
    --light-accent: #6395e5;
    --main-colour: #3d99c7;
    --dark-accent: #0f61a8;
    --dark-shades: #161a29;
}

@font-face {
    font-family: "Google Sans Flex";
    src: url(GoogleSansFlex.ttf) format("truetype");
}

body {
    font-family: "Google Sans Flex", sans-serif;
    font-weight: 100%;
    color: var(--light-shades);
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    margin-top: 20px;
    width: 100%;
    height: 5vh;
}

.control-panel {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100vw;
    height: calc(100vh - 20px);
}

.sample-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#video_feed {
    display: block;
    width: 100%;
    object-fit: contain;
    border-radius: 0.75rem;
}

.video-feed-outer {
    padding: 20px;

    height: calc(60vh - 20px);
}

.sample-button {
    width: 100%;
    height: 5vh;
}
