:root {
    --light-shades: #f5f4f5;
    --light-accent: #6395e5;
    --main-colour: #3d99c7;
    --dark-accent: #0f61a8;
    --dark-shades: #161a29;
}

@font-face {
    font-family: "Google Sans Flex";
    src: url(GoogleSansFlex.ttf) format("truetype");
}

body {
    font-family: "Google Sans Flex", sans-serif;
    font-weight: 100%;
    color: var(--light-shades);
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button {
    margin-top: 10px;
    width: 100%;
    height: 5vh;
}

.control-panel {
    display: flex;
    padding: 20px;
    width: calc(100vw - 15px);
}

.sample-controls {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    margin-left: 20px;
    width: 20vw;
}

#video_feed {
    display: block;
    height: 100%;
    object-fit: contain;
    border-radius: 0.75rem;
}

.video-feed-outer {
    padding: 20px;
    height: calc(67vh - 20px);
    display: flex;
    justify-content: center;
}

.sample-button {
    margin-top: 10px;
    margin-right: 20px;
    width: 80%;
    height: 5vh;
}

.sample-button-enable {
    height: 5vh;
    margin-top: 10px;
}

.slider-card {
    width: 60vw;
}

.button-card {
    padding-right: 20px;
    width: 20vw;
}

label {
    margin: 10px;
    margin-left: 20px;
    margin-bottom: 0px;
    display: inline-block;
}

mdui-slider {
    margin-bottom: 0px;
}

p {
    margin-bottom: 0px;
    margin-top: 5px;
}

mdui-switch {
    margin-left: 20px;
}

#ledBrightnessSlider {
    width: 97%;
}
