
:root {
    --light-shades: #f5f4f5;
    --light-accent: #6395e5;
    --main-colour: #3d99c7;
    --dark-accent: #0f61a8;
    --dark-shades: #161a29;
}

@font-face {
  font-family: 'Google Sans Flex';
  src: url(GoogleSansFlex.ttf) format('truetype');
}

body {
    font-family: "Google Sans Flex", sans-serif;
    font-weight: 100%;
    color: var(--light-shades);
}

